<!--
  Expected context is a vangogh_core_type.ViewPostListDataContent instance.
 -->

{{- define "content" -}}
  {{- range .Posts -}}
    {{- template "post" . -}}
  {{- end -}}
  {{- with .NextPageLink -}}
    <a href="{{- . -}}">Older</a>
  {{- end -}}
  {{- with .PrevPageLink -}}
    <a href="{{- . -}}">Newer</a>
  {{- end -}}
{{- end -}}

